/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilo do menu de navegação */
.navbar {
    background-color: #000;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #333;
    border-radius: 5px;
}

/* Estilo das seções */
section {
    padding: 80px 20px;
    margin-top: 60px;
    background-color: #fff;
    text-align: center;
}

section:nth-of-type(even) {
    background-color: #f9f9f9;
}

.section-content {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}
